@model Multiteca.Models.Juego.JuegoModel

<div class="row">
    <h2>@Model.Nombre</h2>
</div>

<form>
    <div class="row">
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.Nombre)
            @Html.TextBoxFor(model => model.Nombre, null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.FechaLanzamiento)
            @Html.TextBoxFor(model => model.FechaLanzamiento, null, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Coleccion)
            @* COLECCIÓN *@
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.NumColeccion)
            @Html.TextBoxFor(model => model.NumColeccion, null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Desarrollador)
            @* DESARROLLADOR *@
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Distribuidor)
            @* DISTRIBUIDOR *@
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.PrecioPropuesto)
            @Html.TextBoxFor(model => model.PrecioPropuesto, null, new { @class = "form-control" })
        </div>
    </div>

    <fieldset class="border col-md-12">
        <legend class="col-md-3">Deseado</legend>
        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Deseado)
                @Html.CheckBoxFor(model => model.Deseado, new { @class = "form-group", @style = "vertical-align: bottom;" })
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.PlataformaDeseada)
                @* PLATAFORMA *@
            </div>
        </div>
    </fieldset>
</form>